* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: dimgray;
    height: 100vh;
}

a {
    font-size: 30px;
}

button {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

p {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 700px;
    font-size: 20px;
}

::target-text {
    background-color: hotpink;
    color: white;
}
