* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: dimgray;
    height: 100vh;
}

.animation-container,
.transition-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 450px;
}

button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

p {
    border: 1px solid red;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

code {
    background-color: lightyellow;
}

#animation-display-para {
    display: none;
    opacity: 0;
}

#animation-content-visibility-para {
    content-visibility: hidden;
    opacity: 0;
}

#animation-visibility-para {
    visibility: hidden;
}

#transition-display-para {
    display: none;
    opacity: 0;
}

#transition-content-visibility-para {
    content-visibility: hidden;
    opacity: 0;
}

#transition-visibility-para {
    visibility: hidden;
    opacity: 0;
}
