* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
}

article {
    margin: auto;
    border-radius: 10px;
    background-color: beige;
    padding: 20px;
    width: 900px;
}

article > h1 {
    font-size: 60px;
    text-align: center;
}

article > section {
    margin: 20px 0;
}

article > section:last-child {
    margin-bottom: 0;
}

article > section > header {
    container-name: sticky-header;
    container-type: scroll-state;
    position: sticky;
    top: 0;
    font-size: 30px;
}

article > section > header > h2 {
    padding: 10px;
    transition: 0.3s;
}

@container sticky-header scroll-state(stuck: top) {
    article > section > header > h2 {
        border-radius: 0 0 10px 10px;
        background-color: orangered;
        color: white;
    }
}

article > section > p {
    font-size: 25px;
    line-height: 1.2;
}
