* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: dimgray;
    height: 3000px;
}

nav {
    background-color: lightyellow;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.material-symbols-outlined {
    display: none;
    position: fixed;
    right: 200px;
    bottom: 50px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 100px;
    color: blueviolet;
    cursor: pointer;
}

.button-2 {
    right: 50px;
    color: tomato;
}

.material-symbols-outlined:hover {
    box-shadow: 0 0 5px 5px white;
}

.show {
    display: block;
}
