* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: dimgray;
    height: 3000px;
}

nav {
    background-color: lightyellow;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

section {
    margin: 100px auto;
    border-radius: 10px;
    background-color: lightyellow;
    padding: 20px;
    width: 800px;
}

section > p {
    font-size: 30px;
}

section > p > .first-button-span {
    color: blueviolet;
}

section > p > .second-button-span {
    color: tomato;
}

section p:first-child {
    margin-bottom: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    position: fixed;
    right: -350px;
    bottom: 10px;
    transition: right 0.5s;
}

.show {
    right: 10px;
}

ul .material-symbols-outlined {
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 100px;
    color: blueviolet;
    cursor: pointer;
}

ul .material-symbols-outlined:hover {
    box-shadow: 0 0 5px 5px white;
}

ul .second-button {
    color: tomato;
}
